{% extends "base.html" %}
{% block content %}
<div style="display:flex;flex-direction:column;justify-content:center;align-items:center;width:70%">
    <h2 style="color:white;font-family:monospace;font-size:2rem">In Game Player Search</h2>
    <h5 style="color:white;font-family:monospace;font-size:1.25rem">
        Worried Beandog Reformed is in your queue? Trying to avoid TrdBlaster? Enter all the summoner names and see if they're in game!
        (May not work against TrdBlaster's 50 name changes)</h5>
    <form style="display:flex;flex-direction:column;justify-content:center;align-items:center;width:50%" method = "POST" action="/home">
        <input style="width:100%" type = "text" name = "NameList" />
        <p style="color:white;font-family:monospace;font-size:1rem">Summoner Name List (Seperated by commas as so: ", ") </p>
        <input type="submit" >
    </form>
</div>

{% endblock %}