{% extends "base.html" %}
{% block content %}
<div style="display:flex;flex-direction:row;justify-content:flex-start;align-items:center;width:100%;border:1px solid red">
    <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;width:70%">
        <img style="height:300px;margin-top:-10%" src="https://res.cloudinary.com/ddzsxtjah/image/upload/v1636435440/losersQueue2_geg4vj.png" alt="Losers Queue OPGG">
        <h2 style="color:white;font-family:monospace;font-size:2rem">In Game Player Search</h2>
        <h5 style="color:white;font-family:monospace;font-size:1.25rem;text-align:center;wrap:nowrap">
            Worried Beandog Reformed is in your queue? Trying to avoid TrdBlaster? Enter all the summoner names and see if they're in game!
            (May not work against TrdBlaster's 50 name changes)</h5>
        <form style="display:flex;flex-direction:column;justify-content:center;align-items:center;width:50%" method = "POST" action="/home">
            <input style="width:100%;border-radius: 5px;padding: 12px 20px;box-sizing: border-box;" type = "text" name = "NameList" />
            <p style="color:white;font-family:monospace;font-size:1rem;">Summoner Name List</p>
            <p style="color:white;font-family:monospace;font-size:0.9rem;margin-top:-1%">(Separated by commas as so:
                "Karan Gaming, Sohum Gaming, Nitin Sucks Cock") </p>
            <input class="button button1" type="submit" >
        </form>
    </div>
</div>

{% endblock %}